[project]
	description = test panda core
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shaojun Sun (shaojunsun)
[access "refs/for/refs/*"]
	read = group user/Shaojun Sun (shaojunsun)
	push = group user/Shaojun Sun (shaojunsun)
	label-Code-Review = -2..+2 group user/Shaojun Sun (shaojunsun)
	label-Verified = -1..+1 group user/Shaojun Sun (shaojunsun)
	rebase = group user/Shaojun Sun (shaojunsun)
	removeReviewer = group user/Shaojun Sun (shaojunsun)
	submit = group user/Shaojun Sun (shaojunsun)
[access "refs/heads/*"]
	read = group user/Shaojun Sun (shaojunsun)
	create = group user/Shaojun Sun (shaojunsun)
	push = +force group user/Shaojun Sun (shaojunsun)
	pushMerge = group user/Shaojun Sun (shaojunsun)
[access "refs/tags/*"]
	push = +force group user/Shaojun Sun (shaojunsun)
	pushTag = group user/Shaojun Sun (shaojunsun)
	pushSignedTag = group user/Shaojun Sun (shaojunsun)
